$color-neutral-bg-black: rgb(22, 22, 22);
$color-neutral-bg-white: white;
$color-neutral-bg-white-t: rgba(255, 255, 255, 0.733);

$color-primary-base: #0065ff;
$color-primary-dark: #0051cc;
$color-primary-bright: #3384ff;
$color-neutral-dark: #1b1e25;
$color-neutral-semi-dark: #808080;
$color-neutral-semi-bright: #e8e8e8;
$color-neutral-thin-dark: #fbfcfd;
$color-neutral-bright: #ffffff;
$color-additional-1: #7768ae;
$color-additional-1-zf: rgba(#7768ae, .05);
$color-additional-1-tq: rgba(#7768ae, .075);
$color-additional-1-ot: rgba(#7768ae, .1);
$color-additional-2: #3bb273;
$color-additional-2-zf: rgba(#3bb273, .05);
$color-additional-2-tq: rgba(#3bb273, .075);
$color-additional-2-ot: rgba(#3bb273, .1);
$color-additional-3: #e1bc29;
$color-additional-3-zf: rgba(#e1bc29, .05);
$color-additional-3-tq: rgba(#e1bc29, .075);
$color-additional-3-ot: rgba(#e1bc29, .1);
$color-additional-4: #e15554;
$color-additional-4-zf: rgba(#e15554, .05);
$color-additional-4-tq: rgba(#e15554, .075);
$color-additional-4-ot: rgba(#e15554, .1);
$color-additional-5: #4d9de0;
$color-additional-5-zf: rgba(#4d9de0, .05);
$color-additional-5-tq: rgba(#4d9de0, .075);
$color-additional-5-ot: rgba(#4d9de0, .1);

$duration-base: .4s;