@import '../../globalStyles/include.scss';  
$component: 'header';

.#{$component} {
    &-wrapper {
        transition: $duration-base;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        backdrop-filter: blur(10px);
    }

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
        padding: 24px;
    }

    &-mobile-menu {
        &-wrapper {
            display: none;
        }
    }

    &-loggin-icon {
        & path {
            transition: $duration-base;
        }

        &:hover path {
            fill:$color-primary-base !important;
        }
    }

    &-logo-wrapper > img{
        width: 100px;
        // aspect-ratio: 16/9;
    }

    &-menu{
        &-wrapper {
            display: flex;
        }

        &-item > a {
            color: $color-neutral-semi-dark;
            text-decoration: none;
            font-size: 24px;
            transition: $duration-base;
            padding: 0 20px;
    
            &:hover {
                color: $color-primary-base;
            }
        }
    }

    
    @media screen and (max-width: 900px) {
        &-container {
            position: relative;
            flex-direction: column;
        }   

        &-menu-wrapper { 
            display: flex;
            flex-direction: column;
        }

        &-loggin-wrapper {
            position: absolute;
            top: 30px;
            right: 30px;
        }

        &-mobile-menu {
            &-wrapper {
                position: absolute;
                top: 32px;
                left: 30px;
            }

            &-toggle {
                background-color: transparent;
                border: none;

                &:hover {
                    cursor: pointer;

                    .#{$component}-mobile-menu-burger-row {
                        background-color: $color-primary-base !important;
                    }
                }
            }

            &-burger-row {
                transition: $duration-base;
                height: 2px;
                width: 34px;
                margin-bottom: 8px;
            }
        }
    }
}

#mainBlock[data-theme='white'] {
    .#{$component} {
        &-wrapper {
            background-color: rgba(255, 255, 255, 0.5); //TODO check
        }

        &-mobile-menu {
            &-burger-row {
                background-color: $color-neutral-semi-dark;
            }
        }

        &-loggin-icon {
            & path {
                fill:$color-neutral-semi-dark;
            }
        }
    }
}

#mainBlock[data-theme='black'] {
    .#{$component} {
        &-wrapper {
            background-color: rgba(0, 0, 0, 0.658); //TODO check
        }

        &-mobile-menu {
            &-burger-row {
                background-color: $color-neutral-semi-bright;
            }
        }

        &-loggin-icon {
            & path {
                fill:$color-neutral-semi-bright;
            }
        }

        &-menu-item {
           color: $color-neutral-semi-bright;

           &:hover{
               color: $color-primary-base;
           }
        }
    }
}

